.container {
    display: flex;
    width: 100%;
    background-color: #f2f2f2;
}

.leftPanel {
    margin-top: 1%;
    width: 80%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    padding: 2% 4%;

}

.rightPanel {
    left: 0;
    margin-left: 2%;
    margin-top: 2%;
    position: -webkit-sticky;
    width: 27%;
    align-items: center;
    text-align: center;
    padding: 1em;
    overflow-y: auto;
    margin-bottom: 15%;
 
}

.textDoc {
    white-space: pre-wrap;
    text-align: justify;
    
}
